<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<header>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a>About</a></li>
            <li><a>Sign Up</a></li>
            <li><a>Login</a></li>
        </ul>
    </div>
</header>





<body>
    {{{body}}}
</body>

</html>