<div class="about">

    <h1>Vision</h1>

    <div>
        <p>
        Video Game Distribution System is based on the idea of a Gaming Blog. In this system, we will be able to browse games 
        based on various genres, see their reviews and purchase games. The simple UI of the web application will enables users 
        to select genre of their choice to get game suggestions. 
        </p>

        <hr>

        <h2>Team Members</h2>

        <span>1. Arun Nalluri</span><br>
        <span>2. Himanshu Bishnoi</span><br>
        <span>3. Jigar Masekar</span><br>
        <span>4. Raj Mahajan</span><br>

    </div>

</div>