<div class="about">

    <h1>Vision</h1>

    <div>
        <p class="about-info">
        Video Game Distribution System is based on the idea of a Gaming Blog. In this system, we will be able to browse games 
        based on various genres, see their reviews and purchase games. The simple UI of the web application will enables users 
        to select genre of their choice to get game suggestions. 
        </p>

        <hr>

        <h1>Team Members</h1>

        <span class="about-info">1. Arun Nalluri</span><br>
        <span class="about-info">2. Himanshu Bishnoi</span><br>
        <span class="about-info">3. Jigar Masekar</span><br>
        <span class="about-info">4. Raj Mahajan</span><br>

    </div>

</div>