<div class="addition">
    <a href="/admin/"> >> Back</a>

    <h1>Game Addition Portal</h1>

    <p class="req">Please provide the following details to add a game to the store:</p>

    <form method ="POST" action="/games/add"  enctype="multipart/form-data" >

        <div>
            <label>Game Title
            <input type="text" name ="name" id="name" class="add-info" placeholder="Game Title" required>
            </label>
        </div>


        <div>
            <label>
                <p class="add-info"> Images: <span><input type="file" id="image" name="image" placeholder="Images" accept="image/*" required></span></p>
            </label>
        </div>

        <div>
        
            <label>Add Genres seperated by ","
                <select class="add-info" id="genre" name="genre" multiple>
                    <option value="action">Action</option>
                    <option value="action-adventure">Action-Adventure</option>
                    <option value="adventure">Adventure</option>
                    <option value="horror">Horror</option>
                    <option value="racing">Racing</option>
                    <option value="rpg">RPG</option>
                    <option value="strategy">Strategy</option>
                    <option value="sports">Sports</option>
                    <option value="multiplayer">Multiplayer</option>
                </select>
                {{!-- <input type="text" class="add-info" id="genre" name="genre" placeholder="Enter List genre/s" required> --}}
            </label>
        </div>
        <div>
            <label>Size of the game in GB
                <input type="text" class="add-info" id="size" name="size" placeholder="Enters size" required>
            </label>
        </div>
        <div>

            <label> List of platforms supported by the game seperated by ","
                <input type="text" class="add-info" id="compatibility" name="compatibility" placeholder="Enter list of devices" required>
            </label>
        </div>
        <div>

            <label>List of languages supported by the game seperated by ","
                <input type="text" class="add-info" id="languages" name="languages" placeholder="Enter languages" required>
            </label>
        </div>
        <div>

            <label>Recommended age group
                <input type="text" class="add-info" id="age_rating" name="age_rating" placeholder="Enter recommended age" required>
            </label>
        </div>
        <div>

            <label>Website
                <input type="text" class="add-info" id="website" name="website" placeholder="Enter Website" required>
            </label>
        </div>
        <div>

            <label>Price
                <input type="text" class="add-info" id="price" name="price" placeholder="Enter price" required>
            </label>

        </div>

        <button class="addbtn">Add</button>

    </form>

</div>


