<div class="addition">
    <a href="/admin/"> << Back</a>

    <h1>Game Addition Portal</h1>

    <hr>

    <p class="req">Please provide the following details to add a game to the store:</p>

    <form method="POST" action="/games/add" >

        <div>
            <label for="game_name">Game Title
                <input type="text" name="game_name" class="add-info" placeholder="Game Title" required>
            </label>
        </div>


        <div>
            <p class="add-info"> Images: <span><input type="file" id="image" name="image" accept="image/*" required></span></p>
        </div>

        <div>
            <label for="genre">Select Genre(select more than one option)
                <select class="add-info" id="genre" name="genre" multiple>
                    <option value="Action">Action</option>
                    <option value="action-adventure">Action-Adventure</option>
                    <option value="adventure">Adventure</option>
                    <option value="horror">Horror</option>
                    <option value="racing">Racing</option>
                    <option value="rpg">RPG</option>
                    <option value="strategy">Strategy</option>
                    <option value="sports">Sports</option>
                    <option value="multiplayer">Multiplayer</option>
                </select>
                {{!-- <input type="text" class="add-info" id="genre" name="genre" placeholder="Enter List genre/s" required> --}}
            </label>
        </div>
        <div>
            <label for="size">Size of the game in GB
                <input type="number" class="add-info" id="size" name="size" placeholder="Enters size" required>
            </label>
        </div>
        <div>
            <label for="compatibility"> Select the list of platforms supported(select more than one option)
                <select class="add-info" id="compatibility" name="compatibility" multiple required>
                    <option value="Windowsos">Windows OS</option>
                    <option value="Macos">Mac OS</option>
                    <option value="Xbox">Xbox</option>
                    <option value="PS">PS</option>
                    <option value="Android">Android</option>
                    <option value="Ios">ios</option>
                </select>
                {{!-- <input type="text" class="add-info" id="compatibility" name="compatibility" placeholder="Enter list of devices" required> --}}
            </label>
        </div>
        <div>
            <label for="languages">List of languages supported by the game(select more than one option)
                <select class="add-info" id="languages" name="languages" multiple requireds>
                    <option value="Arabic">Arabic</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Spanish">Spanish</option>
                </select>
                {{!-- <input type="text" class="add-info" id="languages" name="languages" placeholder="Enter languages" required> --}}
            </label>
        </div>
        <div>

            <label for="age_rating">Recommended age group
                <input type="number" class="add-info" id="age_rating" name="age_rating" placeholder="Enter recommended age" required>
            </label>
        </div>
        <div>

            <label for="website">Website
                <input type="url" class="add-info" id="website" name="website" placeholder="Enter Website" required>
            </label>
        </div>
        <div>

            <label for="price">Price
                <input type="number" class="add-info" id="price" name="price" placeholder="Enter price" required>
            </label>

        </div>

        <button type="submit" class="addbtn">Add</button>

    </form>

</div>


