<h1>Game Addition Portal</h1>

<p>Please provide the following details to add a game to th store:</p>

<form>

    <div>
        <label>
            Game Title: <input type="text" placeholder="name of the game">
        </label>
    </div>


    <div>
        <label>
            Image: <input type="file" accept="image/*">
        </label>
    </div>


    <div>
        
        <label>
            Genre: <input type="text" placeholder="genre/s">
        </label>

        <label>
            Size: <input type="text" placeholder="size in MB/GB">
        </label>

        <label>
            Compatibilty: <input type="text" placeholder="list of devices">
        </label>

        <label>
            Languages: <input type="text" placeholder="languages supported">
        </label>

        <label>
            Age: <input type="text" placeholder="recommended age group">
        </label>

        <label>
            Website: <input type="text" placeholder="website url">
        </label>

    </div>

    <button>Add</button>

</form>


