{{!-- LOgin page for admin --}}
<h1> Admin login </h1>
{{message}}

<form action="admin/check" method="POST">
<p>Incomplete</p>
<input type="text" placeholder="Username">
<input type="password" placeholder="Password">
</form>