

<div class="cart">

    <h1>Items Purchased</h1> 

    <h4>LIST
        <span class="price">PRICE</span>
    </h4>

    <p><a href=""></a><span class="price"></span></p>
      
    <hr>
    <p>TOTAL <span class="price"></span></p>
    
  </div>