{{!-- <a href="/admin/homepage">Back to homepage</a> --}}
<div class="deletion">
    <a href="/admin/"> << Back</a>

    <h1>Game Deletion Portal</h1>

    <hr>

    {{message}}
    <p class="req">Showing all games:</p>
    {{#unless data}}
    There are no more games!
    {{/unless}}
    {{#each data}}
    <form action="/games/delete/{{_id}}" method="POST">
        {{name}}<button class="dbtn" type="submit">Delete</button><br>
    </form>
    {{/each}}
</div>