
{{!-- <a href="/admin/">Back to homepage</a> --}}
<div class="deletion">
    <a href="/admin/"> >> Back</a>

    <h1>User Deletion Portal</h1>
    <hr>
    {{message}}
    <p class="req">Showing all users:</p>
    {{#unless data}}
    There are no users!
    {{/unless}}
    {{#each data}}
    <form action="/users/delete/{{_id}}" method="POST">
        {{first_name}} {{last_name}}<button class="dbtn" type="submit">Delete</button><br>
    </form>
    {{/each}}
</div>