<div class="deletion">

<h1>Game Deletion Portal</h1>

<p class="req">Please provide the Game ID to delete a game from the store:</p>

<form>

    <div>

        <label>
            <input type="text" class="deletion-info" placeholder="Game Identification Number">
        </label>

    </div>

    <button class="dbtn">Delete</button>

</form>

</div>