<h1>Game Deletion Portal</h1>

<p>Please provide the Game ID to delete a game from the store:</p>

<form>

    <div>

        <label>
            Game ID: <input type="text" placeholder="game identification number">
        </label>

    </div>

    <button>Delete</button>

</form>