<div class="gdata">

    <h1>Game Title</h1>  

    <hr>

    <dl> 

        <img class="gdata-info" alt="{{info.name}}" src="{{info.image.medium}}"/>  

        <hr>
        
        <dt class="gdata-info">Genre: ########</dt> 

        <dt class="gdata-info">Size: ########</dt> 
       
        <dt class="gdata-info">Compatibilty: ########</dt> 
     
        <dt class="gdata-info">Languages: ########</dt> 
  
        <dt class="gdata-info">Age: ########</dt> 
 
        <dt class="gdata-info">Website: ########</dt> 

        <hr>

        <dt class="gdata-info">Price: ########</dt> 

        <button class="buy">Add to Cart</button>

        <hr>

        <dt class="gdata-info">Rating: ########</dt> 
         
        <dt class="gdata-info">Reviews:</dt> 

    </dl> 

</div> 



