<div class="gen">

    <h1>Games available in selected Genre:</h1>
    {{message}}
    <div>
        <ul>
    {{#each data}}
    <li><a class="genre-item" href="/games/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
    </div>
     

</div>