<div class="gen">
    {{message}}

    <h1>Available Genres:</h1>
    
    <div>
        <ul>
            <li><a class="genre-item" href="/games/genre/action">Action</a></li>

            <li><a class="genre-item" href="/games/genre/action-adventure">Action-Adventure</a></li>
    
            <li><a class="genre-item" href="/games/genre/adventure">Adventure</a></li>
            
            <li><a class="genre-item" href="/games/genre/horror">Horror</a></li>

            <li><a class="genre-item" href="/games/genre/racing">Racing</a></li>

            <li><a class="genre-item" href="/games/genre/rpg">RPG</a></li>

            <li><a class="genre-item" href="/games/genre/strategy">Strategy</a></li>

            <li><a class="genre-item" href="/games/genre/sports">Sports</a></li>

            <li><a class="genre-item" href="/games/genre/multiplayer">Multiplayer</a></li>
        </ul>

    </div>

</div>