<h1>GENRES</h1>


<div>

    <fieldset>

        <legend>ACTION</legend>

        <ul>
            <li><a></a></li>
        </ul>

    </fieldset>


    <fieldset>

        <legend>ARCADE</legend>

        <ul>
            <li><a></a></li>
        </ul>

    </fieldset>


    <fieldset>

        <legend>ROLE PLAYING</legend>

        <ul>
            <li><a></a></li>
        </ul>
        
    </fieldset>





</div>