<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 welcome">

        <p>Welcome! Begin your search to find the best games suited to your likes. All from our wonderful collection.</p>
        {{#if message}}
        {{message}}
        {{/if}}
        <br>
        <a href="/games/genre" class="wb">Browse</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>List of Games</h2>
        {{#each data}}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card">
            <a href="/games/{{_id}}">
                <img src="/public/images/image_not_available.jpg" alt="Avatar" class="card-image">
                <div class="card-container">
                    <h3><b>{{name}}</b></h3> 
                {{!-- {{#each genre }}<p>{{i}}</p>{{/each}} --}}
                </div>
            </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>