<h1>Log In</h1>

<legend>

    <form id="login" action="/login" method="POST">

    <label>
        Username: <input type="text" name="username" placeholder="enter username" required>
    </label>

    <label>
        Password: <input type="password" name="password" placeholder="enter password" required>
    </label>

    <button>Login</button>

    </form>

</legend>