<div class="profile">

    <h1>Account Details</h1>  

    <dl> 
        <dt class="profile-info">First Name: ########</dt> 
        

        <dt class="profile-info">Last Name: ########</dt> 
       

        <dt class="profile-info">Username: ########</dt> 
     

        <dt class="profile-info">Age: ########</dt> 
  

        <dt class="profile-info">Email: ########</dt> 
 

        <dt class="profile-info">Password: ########</dt> 


        <dt class="profile-info">Administrative Account: ########</dt> 
     
    </dl> 

</div> 