<h1>Sign Up</h1>

<legend>

    <form id="signup" action="/login" method="POST">

    <label>
        First Name: <input type="text" name="username" placeholder="enter first name" required>
    </label>

    <label>
        Last Name: <input type="text" name="username" placeholder="enter last name" required>
    </label>

    <label>
        Username: <input type="text" name="username" placeholder="enter username" required>
    </label>

    <label>
        Password: <input type="password" name="password" placeholder="enter password" required>
    </label>

    <label>
        Re-Enter Password: <input type="password" name="password" placeholder="enter password" required>
    </label>

    <button>Sign Up</button>

    </form>

</legend>