<div class="signupform">

    <h1>Create Account</h1>

    <form id="signup"  action="/login" method="POST">

    <div>
        <label>
            <input type="text" name="username" class="signup-info" placeholder="First Name" required>
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="username" class="signup-info" placeholder="Last Name" required>
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="username" class="signup-info" placeholder="Username" required>
        </label>
    </div>

    <div> 
        <label>
            <input type="password" name="password" class="signup-info" placeholder="Password" required>
        </label>
    </div>

    <div>
        <label>
            <input type="password" name="password" class="signup-info" placeholder="Re-enter Password" required>
        </label>
    </div>

    <div>
        <p>
            <span><input type="checkbox" required></span> Agree terms and conditions.
        </p>
    </div>

    <button class="signupbtn">Sign Up</button>

    </form>

    <hr>

    <div class="have">
         <p>Have an account? <a href="/login">Log In</a></p>
    </div>

   

</div>